In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv(r'C:\Users\Admin\Desktop\ML\train.csv') #for exel file use .xlsh

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.describe().transpose()

In [ ]:
print(pd.isnull(df).sum())

In [ ]:
hp_year = df[['PassengerId','Survived','Sex','Pclass','SibSp','Parch','Fare']].groupby('Sex').sum()
hp_year.head()

In [ ]:
#darw a bar plot of survival
sns.barplot(x="Sex",y="Survived",data=df)
print("percentage of female who Survived:", df["Survived"][df["Sex"] == 'female'].value_counts())
print("percentage of male who Survived:", df["Survived"][df["Sex"] == 'male'].value_counts())

In [ ]:
sns.barplot(x="Pclass",y="Survived",data=df)
print("percentage of female who Survived:", df["Survived"][df["Sex"] == 'female'].value_counts())
print("percentage of male who Survived:", df["Survived"][df["Sex"] == 'male'].value_counts()) 
plt.title('percentage of survived males and females in accordance with p class')

In [ ]:
sns.barplot(x="SibSp",y="Survived",data=df)
print("percentage of female who Survived:", df["Survived"][df["Sex"] == 'female'].value_counts())
print("percentage of male who Survived:", df["Survived"][df["Sex"] == 'male'].value_counts())

In [4]:
data = data.dropna()

In [5]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [6]:
data1 = data.drop(['Embarked', 'Name', 'Cabin', 'Ticket'], axis=1)

In [7]:
data1['Sex'] = data1['Sex'].map({'male': 0, 'female' : 1})

In [8]:
X_train, X_test, y_train, y_test = train_test_split(data1.drop(['Survived'],axis=1),
                                                    data1['Survived'], test_size=0.20, random_state=8)

In [9]:
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [10]:
LogisticRegression()

LogisticRegression()

In [11]:
predictions = logmodel.predict(X_test)
X_test.head()

     PassengerId  Pclass  Sex   Age  SibSp  Parch      Fare
809          810       1    1  33.0      1      0   53.1000
137          138       1    0  37.0      1      0   53.1000
496          497       1    1  54.0      1      0   78.2667
659          660       1    0  58.0      0      2  113.2750
3              4       1    1  35.0      1      0   53.1000

In [12]:
accuracy = logmodel.score(X_test,y_test)
print(accuracy*100,'%')

81.08108108108108 %

In [13]:
from sklearn.metrics import classification_report
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.83      0.67      0.74        15
           1       0.80      0.91      0.85        22

    accuracy                           0.81        37
   macro avg       0.82      0.79      0.80        37
weighted avg       0.81      0.81      0.81        37

In [14]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions )

array([[10,  5],
       [ 2, 20]], dtype=int64)